$font-family: "Righteous", cursive;
$font-size-20: 20px;
$font-size-50: 50px;
$font-size-15: 15px;
$border-radius-10: 10px;
$border-radius-20: 20px;
$font-weight-500: 500;
$font-weight-800: 800;
$height-width-20: 20px;
$margin-top: 50px;
$padding-15: 15px;
$antique: #faebd7;
$background-color-element: #79baec;
$black: black;
$bisque: #ffe4c4;
$blue-purple: #fed8b1;
$active-task-color: #bdedff;
$active-task-color-hover: #c6deff;
$active-border-color-hover: rgb(0, 128, 255);
$inactive-task-color: rgb(0, 135, 155);
$inactive-task-color-hover: #4190ff;
$button-hover-color: rgb(222, 222, 222);
.body-color {
  background-color: $antique;
}

@mixin one {
  font-family: $font-family;
  border-radius: $border-radius-10;
}
.heading {
  font-family: $font-family;
  font-size: $font-size-50;
  color: $black;
  text-align: center;
}

.background {
  background-color: $background-color-element;
  text-align: center;
  padding-bottom: $padding-15;
  border-radius: $border-radius-10;
}

.input {
  @include one;
  padding: 5px 10px;
  margin: 0px 5px 0px 5px;
  font-size: $font-size-15;
}

.mainBt {
  @extend .input;
  @include one;
  font-weight: $font-weight-800;
  background-color: $bisque;

  &:hover {
    background-color: $blue-purple;
    transform: scale(1.15);
    cursor: pointer;
  }
}
.noTask{
  text-align: center;
  font-family: $font-family;
  font-size: $font-size-20;
  margin-top: $margin-top;
}
