$value-1: 20px;
$value-w: 500;
$value-f: "Cantarell", sans-serif;
$antique: #faebd7;
$bisque: #ffe4c4;
$blue-purple: #fed8b1;
$robin-blue: #bdedff;
$inacColor: rgb(0, 135, 155);
$aColor: #c6deff;
$borColor: rgb(0, 128, 255);
$backColor: #79baec;
$black: black;
$inAcColor: #4190ff;

@mixin one {
  font-family: $value-f;
  border-radius: $value-1/2;
}

@mixin transition {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

@mixin listatt {
  display: block;
  font-size: $value-1;
  font-weight: $value-w;
  padding: 5px 2px 5px 2px;
  margin: 10px 30px 0px 30px;
}

body {
  background-color: $antique;
}

h1 {
  font-family: "Righteous", cursive;
  font-size: $value-1 * 2.5;
  color: $black;
  text-align: center;
  margin-top: $value-1;
}

.background {
  background-color: $backColor;
  text-align: center;
  padding-bottom: $value-1/2;
  border-radius: $value-1/2;
}

.input {
  @include one;
  padding: 5px 10px 5px 10px;
  margin: 0px 5px 0px 10px;
  font-size: $value-1 * 0.75;
}

.mainBt {
  @extend .input;
  @include one;
  font-weight: $value-w * 1.6;
  background-color: $bisque;

  &:hover {
    background-color: $blue-purple;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.list {
  @include one;
  @include listatt;

  background-color: $robin-blue;

  &:hover {
    @include transition;
    background-color: $aColor;
    border: 0.5px solid $borColor;
  }
}

.inActiveTask {
  @include one;
  @include listatt;

  background-color: $inacColor;
  text-decoration: line-through;

  &:hover {
    @include transition;
    background-color: $inAcColor;
    border: 0.5px solid $black;
  }
}

.buttons {
  height: $value-1;
  width: $value-1;
  float: right;
  margin: 0px 5px 5px 0px;
  padding: 5px 5px 0px 0px;
}
