$value-1: 20px;
$value-2: 50px;
$value-3: 15px;
$value-4: 10px;
$value-w: 500;
$value-w2: 800;
$value-f2: "Cantarell", sans-serif;
$value-f: "Righteous", cursive;
$antique: #faebd7;
$bisque: #ffe4c4;
$blue-purple: #fed8b1;
$robin-blue: #bdedff;
$inacColor: rgb(0, 135, 155);
$aColor: #c6deff;
$borColor: rgb(0, 128, 255);
$backColor: #79baec;
$black: black;
$inAcColor: #4190ff;
$btColor: rgb(222, 222, 222);

@mixin one {
  font-family: $value-f2;
  border-radius: $value-4;
}

@mixin transition {
  transform: scale(1.01);
}

@mixin listatt {
  display: block;
  font-size: $value-1;
  font-weight: $value-w;
  padding: 5px 2px;
  margin: 10px 20px 0px 20px;
}

body {
  background-color: $antique;
}

.heading {
  font-family: $value-f;
  font-size: $value-2;
  color: $black;
  text-align: center;
}

.background {
  background-color: $backColor;
  text-align: center;
  padding-bottom: $value-3;
  border-radius: $value-4;
}

.input {
  @include one;
  padding: 5px 10px;
  margin: 0px 5px 0px 10px;
  font-size: $value-3;
}

.mainBt {
  @extend .input;
  @include one;
  font-weight: $value-w2;
  background-color: $bisque;

  &:hover {
    background-color: $blue-purple;
    transform: scale(1.15);
  }
}

.list {
  @include one;
  @include listatt;

  background-color: $robin-blue;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    @include transition;
    background-color: $aColor;
    border: 1px solid $borColor;
  }
}

.inActiveTask {
  @include one;
  @include listatt;

  background-color: $inacColor;
  text-decoration: line-through;

  &:hover {
    @include transition;
    background-color: $inAcColor;
    border: 1 px solid $black;
  }
}

.buttons {
  height: $value-1;
  width: $value-1;
  float: right;
  border-radius: $value-1;
  margin: 0px 5px 0px 0px;
  padding: 5px 5px;

  &:hover {
    transform: scale(1.1);
    background-color: $btColor;
    border: 1px solid $black;
  }
}
